<a href="https://colab.research.google.com/github/cholaterahul/Experiments/blob/master/Experimenting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(r'navin\'s "laptop"')

navin\'s "laptop"

In [ ]:
a=0
for i in range (65, 91):
    a=a+1
    print(chr(i),'=',a)

A = 1
B = 2
C = 3
D = 4
E = 5
F = 6
G = 7
H = 8
I = 9
J = 10
K = 11
L = 12
M = 13
N = 14
O = 15
P = 16
Q = 17
R = 18
S = 19
T = 20
U = 21
V = 22
W = 23
X = 24
Y = 25
Z = 26

In [ ]:
x = range(3, 20, 2)
for n in x:
  print(n)

3
5
7
9
11
13
15
17
19

In [ ]:
# To find lenghts of each elements of strings present in a tuple
tup= ('siddu','Ritu',"",'Rahul')
len_ele=[]
for i in range(len(tup)):
    len_ele.append(len(tup[i]))
print('A list of length of each element in the tuple is :', len_ele)

for i in range(len(len_ele)):
    if len_ele[i]==0:
        len_ele[i]=''
    elif 
else:
    print(len_ele)

A list of length of each element in the tuple is : [5, 4, 0, 5]
[5, 4, '', 5]

In [ ]:
str_1 = "this is string example....wow!!! this is really string"
print(str_1.replace("is", "was"))
print(str_1.replace("is", "was", 1))# restricting number of replacements to occur

thwas was string example....wow!!! thwas was really string
thwas is string example....wow!!! this is really string

In [ ]:
#Empty list:
list_1=[]
list_1

[]

In [ ]:
# To print ASCII values
for i in range(65,91):
    print(chr(i),'=',ord(chr(i)))

A = 65
B = 66
C = 67
D = 68
E = 69
F = 70
G = 71
H = 72
I = 73
J = 74
K = 75
L = 76
M = 77
N = 78
O = 79
P = 80
Q = 81
R = 82
S = 83
T = 84
U = 85
V = 86
W = 87
X = 88
Y = 89
Z = 90

In [ ]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
list_1=[5,6,7,3,2,'Hi']
list_1.pop(1)
print(list_1)

[5, 7, 3, 2, 'Hi']

***CONVERTING LISTS TO DATAFRAME***

In [ ]:
import pandas as pd
from pandas import DataFrame as df
Names =  ['ASWINI', 'RITI', 'AADI']
Age   =  [24, 10, 43]
City  =  ['KOLKATA', 'DELHI', 'HYDERABAD']
zipped_list=list(zip(Names,Age,City))
print(zipped_list)
data_frame = pd.DataFrame(zipped_list, columns= ['Name' , 'Age', 'City'], index=['1', '2', '3'])
print(data_frame)

[('ASWINI', 24, 'KOLKATA'), ('RITI', 10, 'DELHI'), ('AADI', 43, 'HYDERABAD')]
     Name  Age       City
1  ASWINI   24    KOLKATA
2    RITI   10      DELHI
3    AADI   43  HYDERABAD

In [ ]:
list_1=(5,6,7,3,2,'Hi')
list_1.index('Hi')

5

In [ ]:
#delete [95,14,12]
nums=[25,36,95,14,12,26]
del(nums[2:5])
print(nums)

[25, 36, 26]

In [ ]:
dicti={1:'hey', 2:'three'}
dicti.keys()
dicti.values()
dicti[3]='good'
dicti.
print(dicti)

{1: 'hey', 2: 'three', 3: 'good'}

In [ ]:
name='Hey Python'
print(name[-1::-1])

nohtyP yeH

In [ ]:
print(r'Telusko \n Rocks')

Telusko \n Rocks