<a href="https://colab.research.google.com/github/cholaterahul/Experiments/blob/master/Experimenting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(r'navin\'s "laptop"')

navin\'s "laptop"

In [4]:
x=0
while x <10:
    x=x+1
    break
else:
    print("Hello World")

In [ ]:
import time
while True:
    print("I am Alive!")
    time.sleep(2)

I am Alive!
I am Alive!
I am Alive!
I am Alive!
I am Alive!
I am Alive!
I am Alive!
I am Alive!
I am Alive!
I am Alive!
I am Alive!
I am Alive!
I am Alive!
I am Alive!
I am Alive!
I am Alive!
I am Alive!
I am Alive!
I am Alive!
I am Alive!
I am Alive!
I am Alive!
I am Alive!
I am Alive!
I am Alive!
I am Alive!
I am Alive!
I am Alive!
I am Alive!
I am Alive!
I am Alive!
I am Alive!
I am Alive!
I am Alive!
I am Alive!
I am Alive!
I am Alive!
I am Alive!

KeyboardInterrupt: ignored

In [ ]:
x=0
while x < 10:
    print(f'x is {x}')
    if x==3:
        break
    x+=1

x is 0
x is 1
x is 2
x is 3

In [ ]:
# This is a Single comment
'''
This is a multiline
string'''
print ("Hello World!")

Hello World!

In [ ]:
1%5

1

In [ ]:
#3**3
3^3
# XOR (^) operator is a bit operator. It gives bianry number "1" only if it is either (0,1) or (1,0)

0

In [ ]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.get("model")

'Mustang'

In [ ]:
def tail(filename, n=10):
    with open(filename, "r") as f:
    	lines = f.readlines()
    for line in lines[len(lines)-n:]:
        print(line)

In [ ]:
n=int(input())
l1=[1,2,3,4,5,6,6,7]
l1[len(l1)-n:]

2

[6, 7]

In [ ]:
"""
cvsdv
ffdg
df
g
fd
vfd
"""

'\ncvsdv\nffdg\ndf\ng\nfd\nvfd\n'

In [ ]:
"""
Content of "log.txt":
10.1.2.1 - car [01/Mar/2022:13:05:05 +0900] "GET /python HTTP/1.0" 200 2222
10.1.1.9 - bike [01/Mar/2022:13:05:10 +0900] "GET /python HTTP/1.0" 200 2222

Expected output:
01/Mar/2022:13:05:05 +0900
01/Mar/2022:13:05:10 +0900
"""

def parse1():
    for line in open("log.txt"):
        print(line.split("[")[1].split("]")[0])

def parse2():
    for line in open("log.txt", "r"):
        print(line.split()[3].strip("[]"))

def parse3():
    for line in open("log.txt", "r"):
        print(" ".join(line.split("[" or "]")[3:5]))

def parse4():
    for line in open("log.txt", "rw"):
        print(" ".join(line.split()[3:5]).strip("[]"))
  
def parse5():
    for line in open("log.txt"):
        print(re.split("\[|\]", line)[1])

In [ ]:
nums=[1,2,3,4,-4,-5]
print(nums)
#def sqsum1(nums):
	#return sum(x**2 if x > 0 for x in nums)

#def sqsum2(nums):
  	#return sum(x^2 for x in nums if x > 0)

#def sqsum3(nums):
  	#return sum(for x in nums if x > 0 then x^2)

def sqsum4(nums):
  	return sum(x**2 for x in nums if x > 0)

#def sqsum5(nums):
  	#return sum(x^2 if x > 0 for x in nums)

sqsum4(nums )

[1, 2, 3, 4, -4, -5]

30

In [ ]:
class FunEvent:
    def __init__(self, tags, year):
        self.tags = tags
        self.year = year
    
    def __str__(self):
        return f"FunEvent(tags={self.tags}, year={self.year})"

tags = ["google", "ml"]
year = 2022
bootcamp = FunEvent(tags, year)
tags.append("bootcamp")
year = 2023
print(bootcamp)

FunEvent(tags=['google', 'ml', 'bootcamp'], year=2022)

In [ ]:
class BaseLayer:
    def __init__(self, name=""):
        self.name = name

    def __repr__(self):
        return f"{self.name}Layer"

class ActivationLayer(BaseLayer):
    def __init__(self, size):
        super().__init__("Activation")
        self.size = size

class FCLayer(BaseLayer):
    def __init__(self, size):
        super().__init__("FullyConnected")
        self.size = size

2147483648

In [ ]:
# Assigning Alphabets to its respective number in series. 
a=0
for i in range (65, 91):
    a=a+1
    print(chr(i),'=',a)

A = 1
B = 2
C = 3
D = 4
E = 5
F = 6
G = 7
H = 8
I = 9
J = 10
K = 11
L = 12
M = 13
N = 14
O = 15
P = 16
Q = 17
R = 18
S = 19
T = 20
U = 21
V = 22
W = 23
X = 24
Y = 25
Z = 26

In [ ]:
# Range Function in Python
x = range(3, 20, 2)
for n in x:
  print(n)

3
5
7
9
11
13
15
17
19

In [ ]:
# To find lenghts of each elements of strings present in a tuple
tup= ('siddu','Ritu',"",'Rahul')
len_ele=[]
for i in range(len(tup)):
    len_ele.append(len(tup[i]))
print('A list of length of each element in the tuple is :', len_ele)

for i in range(len(len_ele)):
    if len_ele[i]==0:
        len_ele[i]=''
    elif 
else:
    print(len_ele)

SyntaxError: ignored

In [ ]:
str_1 = "this is string example....wow!!! this is really string"
print(str_1.replace("is", "was"))
print(str_1.replace("is", "was", 1))# restricting number of replacements to occur

In [ ]:
#Empty list:
list_1=[]
list_1

In [ ]:
txt = "The best things in life are free!"
"free" in txt

True

In [ ]:
# To print ASCII values
for i in range(65,91):
    print(chr(i),'=',ord(chr(i)))

In [ ]:
for i in range(1,10):
    print(i)

In [ ]:
list_1=[5,6,7,3,2,'Hi']
list_1.pop(1)
print(list_1)

***CONVERTING LISTS TO DATAFRAME***

In [ ]:
import pandas as pd
from pandas import DataFrame as df
Names =  ['ASWINI', 'RITI', 'AADI']
Age   =  [24, 10, 43]
City  =  ['KOLKATA', 'DELHI', 'HYDERABAD']
zipped_list=list(zip(Names,Age,City))
print(zipped_list)
data_frame = pd.DataFrame(zipped_list, columns= ['Name' , 'Age', 'City'], index=['1', '2', '3'])  
print(data_frame)

[('ASWINI', 24, 'KOLKATA'), ('RITI', 10, 'DELHI'), ('AADI', 43, 'HYDERABAD')]
     Name  Age       City
1  ASWINI   24    KOLKATA
2    RITI   10      DELHI
3    AADI   43  HYDERABAD

In [ ]:
# TO Write comments in many sentences:
"""
Use Triple Quotes to enter comments in many lines
"""

In [ ]:
list_1=(5,6,7,3,2,'Hi')
list_1.index('Hi')

In [ ]:
#delete [95,14,12]
nums=[25,36,95,14,12,26]
del(nums[2:5])
print(nums)

In [ ]:
dicti={1:'hey', 2:'three'}
dicti.keys()
dicti.values()
dicti[3]='good'
dicti.
print(dicti)

In [ ]:
name='Hey Python'
print(name[-1::-1])

In [ ]:
print(r'Telusko \n Rocks')

**To get Country Information**

In [ ]:
#!pip install countryinfo  (Once it is installed, not requried again)
from countryinfo import CountryInfo
count=input("Enter your country: ")
country=CountryInfo(count)
print("Capital is:",country.capital())
print("Currencies is:",country.currencies())  
print("Language is:",country.languages())
print("Borders are:",country.borders())
print("Other Names are:",country.alt_spellings())
print(country.wiki())
data = country.info()
for i, j in data.items():
  print(f'{i}:>>{j}')

Enter your country: india
Capital is: New Delhi
Currencies is: ['INR']
Language is: ['hi', 'en']
Borders are: ['AFG', 'BGD', 'BTN', 'MMR', 'CHN', 'NPL', 'PAK', 'LKA']
Other Names are: ['IN', 'Bhārat', 'Republic of India', 'Bharat Ganrajya']
http://en.wikipedia.org/wiki/india
name:>>India
altSpellings:>>['IN', 'Bhārat', 'Republic of India', 'Bharat Ganrajya']
area:>>3287590
borders:>>['AFG', 'BGD', 'BTN', 'MMR', 'CHN', 'NPL', 'PAK', 'LKA']
callingCodes:>>['91']
capital:>>New Delhi
capital_latlng:>>[28.614179, 77.202266]
currencies:>>['INR']
demonym:>>Indian
flag:>>
geoJSON:>>{'type': 'FeatureCollection', 'features': [{'type': 'Feature', 'id': 'IND', 'properties': {'name': 'India'}, 'geometry': {'type': 'Polygon', 'coordinates': [[[77.837451, 35.49401], [78.912269, 34.321936], [78.811086, 33.506198], [79.208892, 32.994395], [79.176129, 32.48378], [78.458446, 32.618164], [78.738894, 31.515906], [79.721367, 30.882715], [81.111256, 30.183481], [80.476721, 29.729865], [80.088425, 28.79447], [81.057203, 28.416095], [81.999987, 27.925479], [83.304249, 27.364506], [84.675018, 27.234901], [85.251779, 26.726198], [86.024393, 26.630985], [87.227472, 26.397898], [88.060238, 26.414615], [88.174804, 26.810405], [88.043133, 27.445819], [88.120441, 27.876542], [88.730326, 28.086865], [88.814248, 27.299316], [88.835643, 27.098966], [89.744528, 26.719403], [90.373275, 26.875724], [91.217513, 26.808648], [92.033484, 26.83831], [92.103712, 27.452614], [91.696657, 27.771742], [92.503119, 27.896876], [93.413348, 28.640629], [94.56599, 29.277438], [95.404802, 29.031717], [96.117679, 29.452802], [96.586591, 28.83098], [96.248833, 28.411031], [97.327114, 28.261583], [97.402561, 27.882536], [97.051989, 27.699059], [97.133999, 27.083774], [96.419366, 27.264589], [95.124768, 26.573572], [95.155153, 26.001307], [94.603249, 25.162495], [94.552658, 24.675238], [94.106742, 23.850741], [93.325188, 24.078556], [93.286327, 23.043658], [93.060294, 22.703111], [93.166128, 22.27846], [92.672721, 22.041239], [92.146035, 23.627499], [91.869928, 23.624346], [91.706475, 22.985264], [91.158963, 23.503527], [91.46773, 24.072639], [91.915093, 24.130414], [92.376202, 24.976693], [91.799596, 25.147432], [90.872211, 25.132601], [89.920693, 25.26975], [89.832481, 25.965082], [89.355094, 26.014407], [88.563049, 26.446526], [88.209789, 25.768066], [88.931554, 25.238692], [88.306373, 24.866079], [88.084422, 24.501657], [88.69994, 24.233715], [88.52977, 23.631142], [88.876312, 22.879146], [89.031961, 22.055708], [88.888766, 21.690588], [88.208497, 21.703172], [86.975704, 21.495562], [87.033169, 20.743308], [86.499351, 20.151638], [85.060266, 19.478579], [83.941006, 18.30201], [83.189217, 17.671221], [82.192792, 17.016636], [82.191242, 16.556664], [81.692719, 16.310219], [80.791999, 15.951972], [80.324896, 15.899185], [80.025069, 15.136415], [80.233274, 13.835771], [80.286294, 13.006261], [79.862547, 12.056215], [79.857999, 10.357275], [79.340512, 10.308854], [78.885345, 9.546136], [79.18972, 9.216544], [78.277941, 8.933047], [77.941165, 8.252959], [77.539898, 7.965535], [76.592979, 8.899276], [76.130061, 10.29963], [75.746467, 11.308251], [75.396101, 11.781245], [74.864816, 12.741936], [74.616717, 13.992583], [74.443859, 14.617222], [73.534199, 15.990652], [73.119909, 17.92857], [72.820909, 19.208234], [72.824475, 20.419503], [72.630533, 21.356009], [71.175273, 20.757441], [70.470459, 20.877331], [69.16413, 22.089298], [69.644928, 22.450775], [69.349597, 22.84318], [68.176645, 23.691965], [68.842599, 24.359134], [71.04324, 24.356524], [70.844699, 25.215102], [70.282873, 25.722229], [70.168927, 26.491872], [69.514393, 26.940966], [70.616496, 27.989196], [71.777666, 27.91318], [72.823752, 28.961592], [73.450638, 29.976413], [74.42138, 30.979815], [74.405929, 31.692639], [75.258642, 32.271105], [74.451559, 32.7649], [74.104294, 33.441473], [73.749948, 34.317699], [74.240203, 34.748887], [75.757061, 34.504923], [76.871722, 34.653544], [77.837451, 35.49401]]]}}]}
ISO:>>{'alpha2': 'IN', 'alpha3': 'IND'}
languages:>>['hi', 'en']
latlng:>>[20, 77]
nativeName:>>भारत
population:>>1263930000
provinces:>>['Andaman and Nicobar Islands', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh', 'Dadra and Nagar Haveli', 'Daman and Diu', 'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Lakshadweep', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal']
region:>>Asia
subregion:>>Southern Asia
timezones:>>['UTC+05:30']
tld:>>['.in']
translations:>>{'de': 'Indien', 'es': 'India', 'fr': 'Inde', 'ja': 'インド', 'it': 'India'}
wiki:>>http://en.wikipedia.org/wiki/india

Covert Data into DataFrame

In [ ]:
import pandas as pd
from pandas import DataFrame
Names =  ['ASWINI', 'Dhruti', 'Gawu']
Age   =  [24, 10, 43]
City  =  ['KOLKATA', 'DELHI', 'HYDERABAD']
edu = ['10th','5th','Inter']
zipped_list=list(zip(Names,Age,City))
print(zipped_list)
data_frame = pd.DataFrame(zipped_list, columns= ['Name' , 'Age', 'City'], index=['1', '2', '3'])  
print(data_frame)

[('ASWINI', 24, 'KOLKATA'), ('Dhruti', 10, 'DELHI'), ('Gawu', 43, 'HYDERABAD')]
     Name  Age       City
1  ASWINI   24    KOLKATA
2  Dhruti   10      DELHI
3    Gawu   43  HYDERABAD