<a href="https://colab.research.google.com/github/cholaterahul/Experiments/blob/master/Experimenting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(r'navin\'s "laptop"')

navin\'s "laptop"

In [4]:
1%5

1

In [ ]:
#3**3
3^3
# XOR (^) operator is a bit operator. It gives bianry number "1" only if it is either (0,1) or (1,0)

0

In [ ]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.get("model")

'Mustang'

In [ ]:
def tail(filename, n=10):
    with open(filename, "r") as f:
    	lines = f.readlines()
    for line in lines[len(lines)-n:]:
        print(line)

In [ ]:
n=int(input())
l1=[1,2,3,4,5,6,6,7]
l1[len(l1)-n:]

2

[6, 7]

In [ ]:
"""
cvsdv
ffdg
df
g
fd
vfd
"""

'\ncvsdv\nffdg\ndf\ng\nfd\nvfd\n'

In [ ]:
"""
Content of "log.txt":
10.1.2.1 - car [01/Mar/2022:13:05:05 +0900] "GET /python HTTP/1.0" 200 2222
10.1.1.9 - bike [01/Mar/2022:13:05:10 +0900] "GET /python HTTP/1.0" 200 2222

Expected output:
01/Mar/2022:13:05:05 +0900
01/Mar/2022:13:05:10 +0900
"""

def parse1():
    for line in open("log.txt"):
        print(line.split("[")[1].split("]")[0])

def parse2():
    for line in open("log.txt", "r"):
        print(line.split()[3].strip("[]"))

def parse3():
    for line in open("log.txt", "r"):
        print(" ".join(line.split("[" or "]")[3:5]))

def parse4():
    for line in open("log.txt", "rw"):
        print(" ".join(line.split()[3:5]).strip("[]"))
  
def parse5():
    for line in open("log.txt"):
        print(re.split("\[|\]", line)[1])

In [ ]:
nums=[1,2,3,4,-4,-5]
print(nums)
#def sqsum1(nums):
	#return sum(x**2 if x > 0 for x in nums)

#def sqsum2(nums):
  	#return sum(x^2 for x in nums if x > 0)

#def sqsum3(nums):
  	#return sum(for x in nums if x > 0 then x^2)

def sqsum4(nums):
  	return sum(x**2 for x in nums if x > 0)

#def sqsum5(nums):
  	#return sum(x^2 if x > 0 for x in nums)

sqsum4(nums )

[1, 2, 3, 4, -4, -5]

30

In [ ]:
class FunEvent:
    def __init__(self, tags, year):
        self.tags = tags
        self.year = year
    
    def __str__(self):
        return f"FunEvent(tags={self.tags}, year={self.year})"

tags = ["google", "ml"]
year = 2022
bootcamp = FunEvent(tags, year)
tags.append("bootcamp")
year = 2023
print(bootcamp)

FunEvent(tags=['google', 'ml', 'bootcamp'], year=2022)

In [ ]:
class BaseLayer:
    def __init__(self, name=""):
        self.name = name

    def __repr__(self):
        return f"{self.name}Layer"

class ActivationLayer(BaseLayer):
    def __init__(self, size):
        super().__init__("Activation")
        self.size = size

class FCLayer(BaseLayer):
    def __init__(self, size):
        super().__init__("FullyConnected")
        self.size = size

2147483648

In [ ]:
# Assigning Alphabets to its respective number in series. 
a=0
for i in range (65, 91):
    a=a+1
    print(chr(i),'=',a)

A = 1
B = 2
C = 3
D = 4
E = 5
F = 6
G = 7
H = 8
I = 9
J = 10
K = 11
L = 12
M = 13
N = 14
O = 15
P = 16
Q = 17
R = 18
S = 19
T = 20
U = 21
V = 22
W = 23
X = 24
Y = 25
Z = 26

In [ ]:
# Range Function in Python
x = range(3, 20, 2)
for n in x:
  print(n)

3
5
7
9
11
13
15
17
19

In [ ]:
# To find lenghts of each elements of strings present in a tuple
tup= ('siddu','Ritu',"",'Rahul')
len_ele=[]
for i in range(len(tup)):
    len_ele.append(len(tup[i]))
print('A list of length of each element in the tuple is :', len_ele)

for i in range(len(len_ele)):
    if len_ele[i]==0:
        len_ele[i]=''
    elif 
else:
    print(len_ele)

SyntaxError: ignored

In [ ]:
str_1 = "this is string example....wow!!! this is really string"
print(str_1.replace("is", "was"))
print(str_1.replace("is", "was", 1))# restricting number of replacements to occur

In [ ]:
#Empty list:
list_1=[]
list_1

In [ ]:
txt = "The best things in life are free!"
"free" in txt

True

In [ ]:
# To print ASCII values
for i in range(65,91):
    print(chr(i),'=',ord(chr(i)))

In [ ]:
for i in range(1,10):
    print(i)

In [ ]:
list_1=[5,6,7,3,2,'Hi']
list_1.pop(1)
print(list_1)

***CONVERTING LISTS TO DATAFRAME***

In [ ]:
import pandas as pd
from pandas import DataFrame as df
Names =  ['ASWINI', 'RITI', 'AADI']
Age   =  [24, 10, 43]
City  =  ['KOLKATA', 'DELHI', 'HYDERABAD']
zipped_list=list(zip(Names,Age,City))
print(zipped_list)
data_frame = pd.DataFrame(zipped_list, columns= ['Name' , 'Age', 'City'], index=['1', '2', '3'])  
print(data_frame)

[('ASWINI', 24, 'KOLKATA'), ('RITI', 10, 'DELHI'), ('AADI', 43, 'HYDERABAD')]
     Name  Age       City
1  ASWINI   24    KOLKATA
2    RITI   10      DELHI
3    AADI   43  HYDERABAD

In [ ]:
# TO Write comments in many sentences:
"""
Use Triple Quotes to enter comments in many lines
"""

In [ ]:
list_1=(5,6,7,3,2,'Hi')
list_1.index('Hi')

In [ ]:
#delete [95,14,12]
nums=[25,36,95,14,12,26]
del(nums[2:5])
print(nums)

In [ ]:
dicti={1:'hey', 2:'three'}
dicti.keys()
dicti.values()
dicti[3]='good'
dicti.
print(dicti)

In [ ]:
name='Hey Python'
print(name[-1::-1])

In [ ]:
print(r'Telusko \n Rocks')